<div class="about">
  <h1> About Us </h1>
    <div class="text">
      ​At Muscle Munchies, we believe ultra-clean, protein packed snacks don&#39;t need to be full of dates or
      hidden sugars to be just as delicious and nutritious. 
      <br>All of our products are gluten-free, dairy-free, sugar-free and date-free, making them entirely guilt
      free. 
      We use a plant-based protein to fuel your work-out, aid your recovery or keep you satisfied between
      meals, without any nasties.<br>
    </div>
</div>

<div class="about" id="FAQ">
  <h1> FAQ </h1>
    <div class="text">
    <i>  ​How do I get my delicious snacks? </i> <br>
Unfortunately, we can&#39;t post our products to you (yet). You can pick-up your order Monday or
Wednesday from Code 5 gym in Warriewood and Sunday&#39;s at the Frenchs Forest Organic Markets,
where we will be every Sunday. If these options limit your ability to get your hands on any of our
delicious products, get in contact with us and we will see what we can do.<br>
* The Beaches Market Warriewood (Friday) - coming soon *<br> <br>

<i> Can I set up a regular order?</i><br>
Definitely! We love regulars, and having an easy to sustain routine will only benefit your fitness and
lifestyle goals.<br> <br>

​<i>How much protein is in a Muscle Munchies protein ball?</i><br>
We try to use as few ingredients as possible to keep the protein balls &#39;clean&#39; and nutritionally
beneficial, whilst still tasting great! Each ball has more than 15g of protein, and less than 1g of sugar,
with any fats coming from the nuts themselves.<br>
    </div>
</div>
