<!-- This is the big image which cycles -->
      <!-- COULD BE IMPROVED -->
<a  href="/order">
  <div class="image_imageCycle" id="image_imageCycle">
    <div class="shiftCycle">
     <img src="/assets/close_menu.png" class="image_shiftCycle" onclick="nextCycle()" alt="Next Image"/>
    </div>
</div>
    </a>

<!-- The grid of images -->
<div class="flex-container">
  <div class="flex-item">
    <a href="/about"><img src="/assets/beach.jpeg" class="flex-img">
    <div class="info-container">  About Us  </div></a>
  </div>

  <div class="flex-item">
    <a href="/about#FAQ"><img src="/assets/productimages/balls/bananabreadloaf.jpeg" class="flex-img">
  <div class="info-container" style="left:47%">FAQ</div></a>
  </div>


<div class="flex-item" id="contact">
  <a id="contactimg" href="/about#contact"><img src="/assets/abs.jpeg" class="flex-img"></a>
  <div class="info-container"> Contact Us </div>
</div>
</div>
