<div class="about" id="contact">
    <br> <br><br> <br>
  <h1> Contact Us </h1>

  <a class="contactLinks" href="https://www.instagram.com/muscle.munchies/"> <img src="/assets/icons/insta.png" class="contactImg"> <h2 style="flex: 50%; font-family: MMFont;"> @muscle.munchies </h2></a>
  <br>
  <a class="contactLinks"> <img src="/assets/icons/emailsymbol.png" class="contactImg"> <h2 style="flex: 50%; font-family: MMFont;">  muscle.munchie1@gmail.com </h2></a>
  <br>
  <a class="contactLinks"> <img src="/assets/icons/phonesymbol.png" class="contactImg"> <h2 style="flex: 50%; font-family: MMFont;"> Mobile – 0421 764 859 </h2></a>
  <h2 style="font-family:MMFont; font-size:30px;"><br> Pick Up Locations </h2>
  <div class="mapLinks">
      <div class="maps">
        <h2 style="font-family:MMFont;"> Code 5 Address - 2/5 Vuko Place, Warriewood 2102 </h2>
          <img src="/assets/code5address.png" class="map">
      </div>
      <div class="maps">
        <h2 style="font-family:MMFont;""> Frenchs Forest Organic Food Market – 35 Frenchs Forest Rd E, Frenchs Forest  2086 </h2>
          <img src="/assets/marketsaddress.png" class="map">
      </div>
  </div>
</div>
