<div class="navbar" role="navigation">

    <div class="mainLinks">
        <a class="navLinks" href='/order'> Shop </a>
        <a class ="navLinks" href='/'> Home </a>
    </div>

      <a href="/cart" class="cart_icon" > <h4 id="orderCount"> </h4></a>

</div>
<div class= "logo">
    <a href="/">
        <img src="/assets/logo.PNG" class="logo" alt="Muscle Munchies Logo"/>
      </a>
</div>
  <div> <br><br> <br> <br> </div>
