<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head/ %>
  <script> const z = 0; </script>
<script type= "text/javascript" src="/main.js"> </script>

</head>
<body>
  <% include ../partials/header/ %>

  <% include ../partials/aboutbody/ %>

  <% include ../partials/contact/ %>

  <% include ../partials/footer/ %>

</body>
