<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head/ %>
  <script> const z = 0; </script>
</head>
<body>
  <% include ../partials/header/ %>
  <% include ../partials/adminBody/ %>

  <% include ../partials/footer/ %>
</body>
