<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head/ %>
    <script> const z = 0; </script>
<script type= "text/javascript" src="/main.js"> </script>

</head>
<body>
  <% include ../partials/header/ %>
  <!-- Gets rid of the space underneath the header -->

    <% include ../partials/orderBody/ %>

  <% include ../partials/footer/ %>

</body>
